*{
	margin:0px;
        padding:0px;
        box-sizing: border-box;
}

body {  
        width: 95%; 
        margin : auto;
}

h1 {
        text-align: center;
        margin: 30px 0px;
}


.form-control {
        display: inline-block;
        width: 70%; 
}

#merkaz {
        width: 50%;
        margin: 0 auto;
}

#tblCUD td.title {
        width: 20%;
        margin-bottom: 5px;
        font-weight: 700;
}
#tblCUD td.content {
        width: 80%;
        margin-bottom: 5px;
}
#tblCUD td.error-td {
        width: 40%;
        margin-bottom: 5px;
}

#tblCUD td {
        border-top: none;
}
      
#frmCUD label.error {
        background:url("../images/error.gif") no-repeat 0px 0px;
        padding-left: 16px;
        padding-bottom: 2px;
        font-weight: bold;
        color: #EA5200;
}
            

