<table id="tblCUD" class="table table-responsive">
    <tbody>
        <tr>
            <td class="title">Lead Name</td>
            <td class="content"><input type="text"  class="form-control" id="leadName" name="leadName" placeholder="Enter new Lead name" maxlength="45"></td>
            <td class="error-td"><label class="error"></label></td>
        </tr>
        <tr>
            <td class="title">Lead Phone</td>
            <td class="content"><input type="text"  class="form-control" id="leadPhone" name="leadPhone" placeholder="Enter new Lead phone#" maxlength="10"></td>
            <td class="error-td"><label class="error"></label></td>
        </tr>
        <tr>
            <td class="title">Lead Product</td>
            <td class="content"><select id="ProductDDL"  class="form-control" name="product"  placeholder="Select Product" ></select></td>
            <td class="error-td"><label class="error"></label></td>
        </tr>
    </tbody>
</table>
